<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#212121"/>
    <title>{% block title %}Overwatch 2{% endblock %}</title>
    <!-- Bootstrap and Chart.js -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('core.static', filename='css/style.css') }}"/>
    {% block extra_head %}
        <!-- Additional head content for specific pages -->
    {% endblock extra_head %}
</head>

<body>
<div class="container-fluid">
    <main id="main-content" class="py-4">
        {% block navbar %}
            <!-- Transparent and glossy navbar -->
            <nav class="glass-effect navbar navbar-expand-lg navbar-dark mb-4">
                <a class="navbar-brand me-5" href="/">StatsWatch Dashboard</a>
                <div class="d-flex justify-content-evenly">
                    <button class="btn btn-primary active me-4">Now Playing</button>
                    <button class="btn btn-primary">My Games</button>
                </div>
            </nav>
        {% endblock navbar %}

        {% block content %}
            <!-- Main content block for child templates -->
        {% endblock content %}

        {% block extra_main_content %}
            <!-- Additional content block for specific pages -->
        {% endblock extra_main_content %}
    </main>
</div>

<!-- add extra_content block -->
{% block extra_content %}
    <!-- Additional content block for specific pages -->
{% endblock extra_content %}

<!-- Loading Overlay -->
<div id="loading-overlay">
    <div class="overlay-backdrop"></div>
    <div class="overlay-content">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="text-light mt-2">Processing...</p>
    </div>
</div>

<script src="{{ url_for('core.static', filename='js/core.js') }}"></script>
{% block extra_scripts %}
    <!-- Additional scripts for specific pages -->
{% endblock extra_scripts %}
</body>
</html>
